body {
    background-color: whitesmoke;
    padding-top: 70px;
    margin-bottom: 5px;
}

#logo {
    background-color: steelblue;
    color: whitesmoke;
    margin: 10px;
}

.mylinks {
    padding-top: 10px;
}

#hero {
    height: 600px;
    max-width: 100vw;
    background-color: lightskyblue;
    text-align: center;
    color: rgb(136, 103, 41);
    margin-top: -19px;
    padding-top: 200px;
}

.container-fluid {
    color: rgb(136, 103, 41);
    background-color: rgb(213, 207, 207);
}

.main-column {
    border: solid 1px red;
}

